<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.tryniecki.addressbook" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="29" />
	<application android:label="AddressBook" android:icon="@mipmap/icon" android:roundIcon="@mipmap/icon_round" android:theme="@style/MainTheme.Splash"></application>
</manifest>